$main-color: #0f94b8;
$second-color: #27333a;
$main-text-color: #30495d;
$second-text-color: #79809a;
$lower-contrast: #f5f6fb;

.articleContainer {
  margin-right: 25px;
  width: 100%;
  // width: 75%;
  @media (max-width: 800px) {
    margin: 0;
    margin-top: 120px;
    padding: 10px;
  }
  h1 {
    font-weight: 600;
    color: #30495d;
    margin-bottom: 10px;
    font-size: 50px;
    @media (max-width: 800px) {
      font-size: 35px;
    }
  }
  .writer {
    color: #79809a;
    font-weight: 300;
    margin-bottom: 10px;
  }

  img {
    width: 400px;

    border-radius: 5px;
    float: left;
    margin-right: 15px;

    @media (max-width: 800px) {
      width: 100%;
      float: none;
    }
  }

  p {
    text-align: justify;
    font-weight: 600;
    color: #79809a;
    line-height: 30px;
    // margin-bottom: 30px;
  }
  .article {
    @media (max-width: 800px) {
      margin-top: 30px;
    }
    h2 {
      color: #30495d;
      font-weight: 600;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    // p {
    //   // font-size: 25px;
    //   // margin-bottom: 20px;
    //   display: block;
    // }
    br {
      display: none;
    }

    ul,
    ol {
      margin-left: 40px;
      font-weight: 600;
      color: #79809a;
      line-height: 30px;
    }
    // img {
    //   width: 700px;
    //   border-radius: 5px;
    //   // float: left;
    //   display: block;
    //   margin-right: 15px;

    //   @media (max-width: 800px) {
    //     width: 100%;
    //   }
    // }
    p strong {
      font-weight: 900;
      color: #0f94b8;
      font-size: 20px;
    }
  }
}

.mobile {
  display: flex;
  align-items: flex-start;
  width: 75%;

  @media (max-width: 800px) {
    display: none;
  }
}
