$main-color: #0f94b8;
$second-color: #27333a;
$main-text-color: #30495d;
$second-text-color: #79809a;
$lower-contrast: #f5f6fb;

.LoaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
