$main-color: #0f94b8;
$second-color: #27333a;
$main-text-color: #30495d;
$second-text-color: #79809a;
$lower-contrast: #f5f6fb;

.pageContainer {
  width: 100%;
  margin-right: 20px;
  @media (max-width: 800px) {
    margin-top: 100px;
    width: 100%;
    margin-right: 0;
    padding: 10px;
  }
  h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #30495d;
    margin-left: 15px;
    border-bottom: 5px #30495d solid;
    width: 50%;
    font-size: 32px;
    margin-top: 30px;
    @media (max-width: 800px) {
      width: 100%;
      margin: 0;
    }
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #30495d;
    margin-bottom: 10px;
    h1 {
      text-transform: uppercase;
      margin-top: 30px;
    }

    @media (max-width: 800px) {
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
      // align-items: center;
      // justify-content: center;
    }
    input {
      padding: 5px;
      border-radius: 5px;
      border: 2px solid #0f94b8;
      outline: none;
      width: 200px;
      margin-right: 28px;
      @media (max-width: 800px) {
        width: 100%;
        margin: 0;
        margin-top: 10px;
      }
    }
  }
  .articles {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 800px) {
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}
