$main-color: #0f94b8;
$second-color: #27333a;
$main-text-color: #30495d;
$second-text-color: #79809a;
$lower-contrast: #f5f6fb;

.categorieContainer {
  display: flex;
  justify-content: space-between;
  .categorie {
    width: 500px;
    margin-bottom: 50px;
    h1 {
      color: #0f94b8;
      font-weight: 600;
      border-bottom: 2px #30495d solid;
      padding-bottom: 10px;
      @media (max-width: 800px) {
        font-size: 18px;
      }
    }

    .img {
      margin-top: 10px;
      width: 100%;
      height: 350px;
      border-radius: 5px;
      background-size: cover;
      margin-bottom: 15px;
    }
    h2 {
      font-size: 32px;
      margin-top: 5px;
      margin-bottom: 10px;
      color: #30495d;
    }
    p {
      line-height: 25px;
      color: #79809a;
      font-weight: 300;
    }
    .Links {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 800px) {
        justify-content: center;
        align-items: center;
      }
      .link2 {
        border: 2px solid #27333a;
        background-color: #30495d;
        color: white;
        border-radius: 5px;
        padding: 10px 20px;
        margin-right: 20px;
        cursor: pointer;
        // margin-top: 10px;
      }
    }
  }
}
