$main-color: #0f94b8;
$second-color: #27333a;
$main-text-color: #30495d;
$second-text-color: #79809a;
$lower-contrast: #f5f6fb;

.archiveContainer {
  @media (max-width: 800px) {
    margin-top: 125px;
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #30495d;
    margin-left: 15px;
    border-bottom: 5px #30495d solid;
    width: 30%;
    @media (max-width: 800px) {
      width: 100%;
      margin: 0;
    }
  }

  .editions {
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;
    .edition {
      padding: 10px 20px;
      background-color: #f5f6fb;
      width: 200px;
      margin-left: 10px;
      margin-top: 10px;
      font-weight: 900;
      color: #30495d;
      font-size: 25px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        color: #0c97b4;
      }
    }
  }
  .magContainer {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 900px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
    }
    a {
      display: flex;
      margin-right: 15px;
      .links {
        display: flex;
        flex-direction: column;
        color: #0c97b4;
        margin-bottom: 10px;
        @media (max-width: 800px) {
          width: 40%;
        }
        a {
          text-decoration: underline;
          padding: 1px;
          img {
            @media (max-width: 800px) {
              display: none;
            }
          }
        }
        .text {
          font-family: "Ubuntu", sans-serif;

          margin-top: 15px;
          h4 {
            color: #30495d;
            font-weight: 900;
          }
          p {
            font-size: 13px;
            font-weight: 600;
            color: #79809a;
            margin-top: 5px;
          }
        }
      }
    }

    .mag {
      margin: 15px;
      cursor: pointer;
      border-radius: 5px;
      overflow: hidden;
      transition: all 0.5s ease;
      display: flex;
      margin-right: 20px;
      &:hover {
        transform: scale(1.03);
      }
      .thumbnail {
        width: 180px;
        height: 250px;
        background-size: cover;
      }
    }
  }
}
