$main-color: #0f94b8;
$second-color: #27333a;
$main-text-color: #30495d;
$second-text-color: #79809a;
$lower-contrast: #f5f6fb;

.fixed {
  position: fixed;
  left: -120px;
  background-color: #30495d;
  color: white;
  font-size: 20px;
  font-weight: 900;
  transform: rotate(90deg);
  margin-top: 20px;
  padding: 5px 10px;
  @media (max-width: 800px) {
    display: none;
  }
}
.edition {
  font-family: "Ms Madi", cursive;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 130px;
  text-align: center;

  span {
    color: #0f94b8;
  }
  @media (min-width: 800px) {
    display: none;
  }
}
.topArticles {
  margin-top: 30px;
  margin-bottom: 30px;
  @media (max-width: 800px) {
    margin-top: 50px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .articles {
    border-top: 2px solid #0f94b8;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    @media (max-width: 800px) {
      width: 100%;
      margin-bottom: 30px;
    }

    .title {
      // text-align: center;
      padding-left: 10px;
      margin-top: -18px;
      margin-bottom: 10px;
      background-color: white;
      width: 230px;
      color: #30495d;
      font-weight: 600;
      margin-left: auto;
      @media (max-width: 800px) {
        width: 240px;

        text-align: center;
      }
    }

    .une {
      // text-align: center;
      margin-top: -18px;
      margin-bottom: 10px;
      background-color: white;
      width: 120px;
      padding-left: 5px;
      color: #30495d;
      font-weight: 600;

      @media (max-width: 800px) {
        width: 120px;
        padding-left: 5px;
        text-align: left;
      }
    }

    .uneContainer {
      padding-bottom: 40px;
      margin-top: 10px;
      display: flex;
      flex-direction: row-reverse;
      @media (max-width: 800px) {
        flex-direction: column;
      }
      .imgContainer {
        border-radius: 5px;
        width: 45%;
        background-size: cover;
        @media (max-width: 800px) {
          width: 100%;
          height: 350px;
        }
      }
      .description {
        padding: 0px 10px;
        margin-right: 5px;
        padding-left: 0;
        width: 60%;
        @media (max-width: 800px) {
          width: 100%;
        }
        span {
          color: $second-text-color;
          font-weight: 900;
          margin-bottom: 30px;
          // @media (max-width: 800px) {
          //   background-color: white;
          //   padding: 10px 20px;
          //   margin-left: 30%;

          //   border-top: #0f94b8 solid 3px;
          // }
        }
        .uneSpan {
          color: $second-text-color;
          font-weight: 900;
          // margin-bottom: 30px;
          @media (max-width: 800px) {
            margin: 0;
            margin-top: 10px;
          }
        }
        h1 {
          margin-top: 5px;
          margin-bottom: 10px;
          color: $main-text-color;
          @media (max-width: 800px) {
            margin-top: 10px;
          }
        }
        p {
          line-height: 25px;
          color: #79809a;
          font-weight: 300;
        }
        .Links {
          margin-top: 7%;
          display: flex;
          flex-wrap: wrap;
          @media (max-width: 800px) {
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            font-size: 14px;
          }
          .link1 {
            border: 2px solid #0f94b8;
            border-radius: 5px;
            padding: 10px 20px;
            margin-right: 20px;
            cursor: pointer;
            transition: all 0.3s ease;
            margin-top: auto;
            &:hover {
              background-color: #0f94b8;
              color: white;
            }
            @media (max-width: 800px) {
              margin-right: 5px;
            }
          }
          .link2 {
            border: 2px solid #27333a;
            background-color: #30495d;
            color: white;
            border-radius: 5px;
            padding: 10px 20px;
            margin-right: 20px;
            margin-top: auto;
            cursor: pointer;

            @media (max-width: 800px) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
