$main-color: #0f94b8;
$second-color: #27333a;
$main-text-color: #30495d;
$second-text-color: #79809a;
$lower-contrast: #f5f6fb;

.topArticles {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  @media (max-width: 800px) {
    margin-top: 120px;
    flex-direction: column-reverse;
  }
  .articles {
    border-top: 2px solid #0f94b8;
    border-bottom: 2px solid #0f94b8;

    // width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 800px) {
      width: 100%;

      margin-bottom: 10px;
    }
    .title {
      text-align: center;
      margin-top: -18px;
      margin-bottom: 10px;
      background-color: white;
      width: 200px;
      color: #30495d;
      font-weight: 600;
    }
  }

  .newsContainer {
    // width: 30%;
    margin-left: 20px;
    border-top: 2px solid #0f94b8;
    border-bottom: 2px solid #0f94b8;
    @media (max-width: 800px) {
      width: 100%;
      margin: 5px;
      margin-top: 35px;
      padding: 5px;
      margin-bottom: 30px;
      border-bottom: none;
    }
    .essentiel {
      color: #30495d;
      font-weight: 600;
      background-color: white;
      margin-top: -16px;
      width: 150px;
      @media (max-width: 800px) {
        margin-top: -20px;
      }
    }
    .news {
      margin-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px #79809a solid;
      cursor: pointer;

      @media (max-width: 800px) {
        width: 100%;
      }
      p {
        font-weight: 600;
        color: #0f94b8;
        margin-bottom: 5px;
        span {
          color: #79809a;
          font-size: 13px;
        }
      }
      a {
        font-weight: bolder;
        color: #30495d;
        font-size: 17px;
      }
      &:hover {
        a {
          color: #0f94b8;
        }
      }
    }
  }
}
