.emissionMainContainer {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 0px 10px;
  h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    span {
      color: #04d9c3;
    }
  }
  .klam {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

    .video {
      border-radius: 20px;
      overflow: hidden;
      width: 550px;
      height: 310px;
    }
    .description {
      .hover {
        transition: all 0.3s ease-in;
        &:hover {
          transform: scale(0.8);
        }
      }
      width: 30%;
      text-align: justify;
      @media (max-width: 900px) {
        width: 100%;
        text-align: center;
        margin-top: 20px;
      }
      p {
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: justify;
        text-align: justify;
        font-weight: 600;
        color: #79809a;
        line-height: 22px;
      }
      .social {
        font-size: 30px;
        display: flex;
        align-items: center;
        @media (max-width: 900px) {
          justify-content: center;
        }
      }
    }
  }
  .season {
    width: 100%;
    padding: 10px 20px;
    font-family: "Ubuntu", sans-serif;
    margin-top: 10px;
    h2 {
      padding-bottom: 10px;
      text-align: center;
    }
    .episodes {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .episode {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        cursor: pointer;
        .img {
          -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.56);
          -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.56);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.56);
          width: 240px;
          height: 150px;
          background-size: cover;
          background-position: center;
          overflow: hidden;
          border-radius: 10px;
          margin-right: 10px;
        }
        p {
          padding-top: 5px;
          padding-left: 5px;
          font-weight: 700;
          text-align: justify;
        }
      }
    }
  }
}
